
@media (max-width: 767px) {
    html{
        font-size:10px!important;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 12px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    html{
        font-size:14px!important;
    }
}
@media (min-width: 1200px) {
    html{
        font-size:16px!important;
    }
}

.nav{

}
nav{
    margin-bottom: 0px!important;

}
.navbar-header{
    height: 70px;
}
nav.container{

}
.navbar-brand{
    padding:15px 30px 15px 30px;
}
.realNav li{
    margin: 0 20px;
}
.realNav >li > a {
    font-family: "黑体";
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
}
.nav a{
    color: #000 /*!important*/;
    /*font-size: 1.16rem;*/
}
.realNav > li:hover{
    background-color: #2f3f4f;
    border-bottom: 2px solid red/*#0099f7*/;
}

.realNav > li > ul > li{
    border-bottom: 2px solid #aaa;
}

.realNav > li > ul > li:hover{
    border-color: red;
}

.nav .active{
    background-color: #2f3f4f;
    border-bottom: 2px solid red/*#0099f7*/;
}
.nav a{
    background-color: transparent!important;
}

/*瀵艰埅鏍忕粨鏉�*/
.banner .container{
    width: 100%;
}
/*banner缁撴潫*/

.video{
    font-size:1rem;
    padding:3.5em 15%;
    background-color: #f5f7fa;
}
h1,p {
    text-align: center;
}
.xxian{
    display: inline-block;
    border-bottom: 2px solid #039ce5;
    padding-bottom: 15px;
    /*margin-bottom: 30px;*/
}
/*.video b,.single b,.five b,.support b,.new b{*/
/*padding: 99px 0 15px 0;*/
/*font-size: 30px;*/
/*text-align: center;*/
/*border-bottom: 5px solid #039ce5 ;*/
/*}*/
/*.video h1,.single h1,.five h1,.support h1,.new h1{*/
/*font-size: 18px;*/
/*color: rgb(119, 119, 119);*/
/*line-height: 1.547;*/
/*text-align: center;*/
/*margin-top: 30px;*/
/*}*/
/*!*.span{*!*/
/*text-align: center;*/
/*width: 152px;*/
/*height: 5px;*/
/*background-color: #039ce5;*/
/*display: block;*/
/*}*/
.video .container .img-b{
    text-align: center;
    padding-top: 40px;
}
/*瑙嗛缁撴潫*/
.single{
    padding:65px;
}
.single .dg a{
    height: 558px;
    display: block;
    background:url("../img/single.png");
    /*background-size:100%;*/
    background-repeat:no-repeat ;
}
/*.single .col-lg-6 a:hover{*/
/*!*background: url("../img/string.png");*!*/
/*!*opacity: 0.5;*!*/
/*background: url("../img/singlee.png");*/
/*!*background-size:100%;*!*/
/*}*/

.single-two img{
    padding:0 60px;
}
.single-number {
    float: right;
    padding:0 25% 0 0;
}
.single .box1 {
    /*margin-top:30px;*/
    /*padding: 30px 0;*/
    /*!*float: right;*!*/
    /*font-size:2rem;*/
    /*color:#022a56;*/
    /*border-right:5px solid #039ce5 ;*/
}
.single .box1 strong{
    float: right;
    font-size: 2rem;
    margin:2rem 1.2rem;
}
.single .box1 .rightBorder {
    padding: 30px 1rem;
    border-right:5px solid #039ce5 ;
}
.xiaolan .boox1{
    font-size: 2.5rem;
    color:#022a56;
    padding-left:0;
}

.single .boxx1 {
    text-align: right;
    float: left;
    list-style: none;
}
.single .boxx2 {
    text-align: left;
    float: left;
    list-style: none;
    padding:10px 2rem 0 2rem;
}
.single .li-hei {
    font-size: 1.4rem;
    color: rgb(51, 51, 51);
    line-height: 1.16;

}
.img-colorcenter-block{
    margin-bottom: 20px;
}
.single .li-hui {
    font-size: 1.2rem;
    color: rgb(119, 119, 119);
    line-height: 2.5em;
    padding-bottom: 50px;
}
.new-two .li-hui2 {
    font-size: 1.2rem;
    color: rgb(119, 119, 119);
    line-height: 2;
    padding-bottom: 36px;
}
/*.single ul{*/
/*float: left;*/
/*}*/
/*.single .small{*/
/*font-size: 24px;*/
/*color: rgb(51, 51, 51);*/
/*line-height: 1.16;*/
/*position: absolute;*/
/*left: 1240px;*/
/*top: 2268.339px;*/
/*z-index: 205;*/
/*}*/
.single .pull-right{
    padding-right: 150px;
}
/*鍗曟煖浠嬬粛缁撴潫*/
.five {
    padding:0 65px 65px 65px;
}
.hovereffect .overlay {
    width: 100%;
    height: 269px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(75,75,75,0.7);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-align: center
}

.hovereffect:hover .overlay {
    background-color: rgba(48, 152, 157, 0.4);
}

/*.hovereffect img {*/
/*height: 100%;*/
/*width: 100%;*/
/*display: block;*/
/*position: relative;*/
/*}*/

.hovereffect h2 {
    margin-top: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 1.5em;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    margin: -70px 0 0 0;
    padding: 62px 30px;
}

.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}



/*浜斿ぇ淇濋殰缁撴潫*/
.support .img-color img{
    /*background-color: #0000ff;*/
    background: linear-gradient(to right, #0000aa, #0000ff);
    border-radius:100px ;
}
.support{
    padding: 35px 65px 65px 65px;
    background-color: #f5f7fa;
}

.support .col-lg-3 img{
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    width: 120px;
    height: 120px;
}
.support .col-lg-3 img:hover{
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
}

.support .img-a{
    /*line-height: ;*/
}
.img-a .hhh{
    font-size: 30px;
    color: rgb(51, 51, 51);

}
.img-a .cccore{
    font-size: 14px;
    color: rgb(119, 119, 119);
    padding-bottom: 45px;
}
.support .roww{
    padding-top: 40px;
}
.time p{
    text-align: left;
}
.support p,.new p,.plan p,.product p,.about p,.five p,.news p{
    /*padding-top: 30px;*/
    font-size:1.4em;
    color: #333333;
    /*line-height: 0.994;*/
    z-index: 168;
    text-align: center;
}
/*8澶ф敮鎸佺粨鏉�*/
.new{
    padding:0px 65px 65px 65px;
}
/*.new .col-lg-12{*/
/*padding-bottom: 40px;*/

/*}*/
.new .row h1{
    font-size: 2em;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.16;
    left: 285.687px;
    z-index: 139;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/

}
.new .font-s h1{
    font-size: 22px;
}
/*.new .row p{*/
/*padding-top: 15px;*/
/*font-size: 1.6em;*/
/*color: rgb(119, 119, 119);*/
/*line-height: 1.547;*/
/*left: 287px;*/
/*z-index: 141;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/

/*}*/
.new .row h2{
    font-size: 1em;
    font-family: "Arial";
    color: #555555;
    line-height: 0.87;
    left: 287px;
    z-index: 140;
}
.new .font{
    background-color: rgb(255, 255, 255);
    width: 100%;
    /*height: 460px;*/
    z-index: 136;
    padding-bottom:10px;
    cursor: pointer;

}
.new h1,.new p{
    /*text-align: ;*/
}
.new .font{
    box-shadow: 0px 0px 2px 0px rgba(206, 206, 206, 0.49);
}
.new .font:hover{
    box-shadow: 0px 8px 21px 0px rgba(206, 206, 206, 0.49);
    z-index: 136;
}
.new .font-s{
    padding: 30px;
}
.new .font-s p,.new .font-s h1{
    text-align: left;
}
.new .font-s h1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 2.3em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.new .font-s p{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 2.8em;
    font-size: 1em;
}
.new .nnnew{
    padding:20px 10px 0 20px;
}
/*鏂伴椈鍒嗛〉*/
.pager{
    display: flex;
    justify-content: space-between;
}
/*鏂伴椈缁撴潫*/

.foot{
    padding: 65px 65px 100px 65px;
    background-color: #ffffff;
}
.foot li:nth-child(1){
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    padding-bottom: 15px;
    z-index: 189;

}
.foot li{
    list-style: none;
    padding-top: 5px;
    z-index: 180;
}
.foot a{

    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.392;
}
.foot p{
    clear: right;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.302);
    line-height: 2.242;
    text-align: right;
    z-index: 187;

}
.foot .foot-right{
    padding-right:40px;
}

.foot img{

}
.foot img:nth-child(1){
    margin-left: 30px;
}
/*椤佃剼缁撴潫*/
.footer .btn-default{
    border-radius: 10px;
    background-color: rgb(0, 155, 231);
    width: 154px;
    height: 48px;
    line-height: 48px;
    z-index: 88;
    margin-left:80px;
    padding: 0px;
    text-align: center;
}
.footer{
    width: 100%;
    height: 98px;
    background-color:rgba( 2,42,86,0.5);
}
.footer .input-group {
    line-height: 98px;
}
.footer .container .input-group span{
    margin-right: 15px;
    font-size: 24px;
    color: #ffffff;
}
.footer .input-group input {
    width: 200px;
    line-height: 40px;
    margin-right: 20px;
}

/*棣栭〉缁撴潫*/
.product .boxxx1{
    float: left;
    padding-top: 15px;
    list-style: none;
}
.product .hei-chu{
    padding-bottom: 60px; ;
}
.product{
    padding: 65px 65px 0 65px;
    background-color: #ffffff;
}
.product .container .img-b{
    text-align: center;
    padding-top: 40px;
}
/*.product img{*/
/*margin-top: 60px;*/
/*}*/

/*瓒呯骇渚垮埄搴楃粨鏉�*/

.single-two{
    padding: 65px;
    background-color: #f5f7fa;
}
.single-two .col-lg-6 a{
    width: 570px;
    height: 558px;
    display: block;
    background-image:url("../img/single.png");
    background-repeat:no-repeat ;
}
.single-two .col-lg-6 a:hover{
    /*background: url("../img/string.png");*/
    /*opacity: 0.5;*/
    background: url("../img/singlee.png");
}

/*鍗曟煖缁撴潫*/
.xiaolan{
    background-color:  #f5f7fa;
    padding: 40px;
}
.robot{
    padding: 65px;
    background-color: #ffffff;
}

/*浜у搧缁撴潫*/



.news{
    padding:0 65px 65px 65px;
}
.news .col-lg-12{
    padding-bottom: 40px;

}
.news .row h1{
    padding-top: 25px;
    font-size: 24px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.16;
    left: 285.687px;
    z-index: 139;

}
/*.news .row p{
    padding-top: 15px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb(119, 119, 119);
    line-height: 1.547;
    left: 287px;
    z-index: 141;

}*/
/*.news .row h2{
    padding-top:35px;
    font-size: 32px;
    font-family: "Arial";
    color: rgb(51, 51, 51);
    line-height: 0.87;
    left: 287px;
    z-index: 140;
}*/
.news .font{
    background-color: rgb(255, 255, 255);
    z-index: 136;
}
.news .font:hover{
    box-shadow: 0px 8px 21px 0px rgba(206, 206, 206, 0.49);
    z-index: 136;
}
.news .font-s{
    padding-left: 30px;
    padding-right: 30px;
}
.news .imgbox{
    float: left;
    margin-bottom: 30px;
    margin-left: 40px;

}
.news .txtbox{
    /*float: right;*/
    margin-left: 300px;
}
.news .txtbox h1{
    text-align: left;
    margin-top: -20px;
    color: #333;
    font-size: 1.2em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news .txtbox h2{
    font-size: 1em;
    font-weight: normal;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news .txtbox p{
    text-align: left;
    font-size: 1em;
    color: #777;
}
.pager a{
    cursor: pointer;
}
/*鏂伴椈缁撴潫*/
.five .rongy{
    text-align: center;
}
.five .rongy img{
    padding-bottom: 65px;
    margin: 0 auto;
    display: block;
}
/*搴曢儴瀵艰埅鏍�-娴姩灞�*/
.footer .input-group{
    display: block;
    text-align: center;
}

.qdrs_solution {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    /*padding: 15px 40px*/
}

.qdrs_title h1 {
    font-size: 2.5rem;
    margin-bottom: -10px;
    margin-top:1.875rem;
    letter-spacing: 2.5px;
    font-family: "黑体";
    color: #bc2925;
}

.qdrs_title h4 {
    text-align: center;
    font-family: "黑体";
    font-size: 1rem;
    letter-spacing: 2.3px;
    margin-bottom: 1.875rem;
    font-weight: bold;
    color: #bc2925;
}
.qdrs_title h4 > .xxian {
    border-bottom-color: #bc2925!important;
}
.front-tech h2 {
    font-family: "黑体";
    font-size: 1.625rem;
}
.fill {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position:center;
}

.front-tech p {
    font-family: "黑体" !important;
    font-size: 1.125rem !important;
}

.qdrs_title span {
    border-bottom:3px solid black;
}

.center_white {text-align:center;color: white}
.center_white p{text-align:center;color: white}
.container p {
    margin-top:10px;
}
.container h2 {

    font-family: 黑体;
    font-size: 1.625rem;
    text-align: center;
}
.white_bottom {
    border-bottom: 2px solid white;
    padding-bottom: 15px;
}
#wish h2 {
   padding-top: 10px;
}
/*for navigtinmenu-start*/
body {
    font-family: 黑体 !important;
}

.navigation-menu {
    height: 90px;
    width: 100%;
    background-color: rgba(238,238,238,1.0);
    z-index: 20;
    position: fixed;
}

.qdrs-nav-brand {
    float: left;
    width: 20%;
    height: 100%;
}

.qdrs-nav-brand img {
    height: 100%;
    width: auto;
    float: right;
}

.qdrs-nav-menu {
    height: 100%;
    z-index: 15;
    width: 80%;
}

.qdrs-nav-menu > ul {
    position: absolute;
    right: 20%;
    float: left;
}

.qdrs-nav-menu > ul > li {
    float: left;
    margin: 0px 20px;
    z-index: 20;

}
.qdrs-nav-menu > ul > li > a {
    padding: 30px 20px;
    position: relative;
    display: block;
}

.qdrs-nav-menu > ul > li > ul {
    float: left;
    position: absolute;
    list-style-type: none;
    z-index: 15;
}

.qdrs-nav-menu > ul > li > ul > li {
    float: none;
    border-bottom: 0.125rem solid #aaa;
    z-index: 15;
    line-height: 2.2rem;
}
.qdrs-nav-menu > ul > li > ul > li:first-child {
    border-top:2px solid #bc2925;
}

.qdrs-nav-menu a {
    text-decoration: none !important;
    padding-bottom: 20px;
    color: #000;
    font-size: 1.2rem;
}
.qdrs-nav-menu > ul > .active,
.qdrs-nav-menu > ul > .active > a{
    background-color: #2f3f4f;
    color: #fff;

}
.qdrs-nav-menu li:hover,
.qdrs-nav-menu > ul > .active {
    border-bottom: 2px solid #bc2925;
    background-color: #2f3f4f;
}
.qdrs-nav-menu li:hover a {
    color: #fff;
}
#aboutus, #solutions, #aboutus1{
    list-style: none;
    list-style-type: none;
    text-align: center;
    display: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    background-color: #2f3f4f;
}

.aboutus > a, .sss > a {
    color: white;
    line-height: 30px;
    padding: 5px 20px;
}
.energy {
    color: white;
    padding: 13.875rem 0% 0% 40%;
    background-size: cover;
    background-position: center;
}
.tobacco {
    color: white;
    padding: 13.875rem 30% 0% 0%;
    background-size: cover;
    background-position:center;
}

.energy > .qdrs_solution{
    padding: 2.375rem 11.625rem 3.125rem 2.5rem
}
.tobacco .qdrs_solution {
    padding: 2.375rem 6.25rem 3.125rem 10.75rem
}
.retail > .qdrs_solution {
    padding: 2.375rem 11.625rem 5rem 2.5rem
}
.qdrs-nav-menu li:hover li>a {

}
.gotop img{
    z-index:25;
    position: fixed;
    width: 4rem;
    right: 0.625rem;
    bottom: 0.625rem;
    display: none;
}

.nav-mobile {
    display: none;
    position: fixed;
    top: 90px;

}
.nav-mobile ul {
    list-style-type: none;
    padding: 0px;
}
.nav-mobile li{

    padding: 0.8rem;
    padding-left: 1.25rem;
    background-color: rgba(47,63,79,0.9);
    border-bottom: 1px solid #afafaf;
}
.nav-mobile li:hover {
    background-color: white;
}
.nav-mobile li:hover a {
    color: black;
}
.nav-mobile li a {
    display: block;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.fill-nav {
    height: 90px;
}
.nav-mobile-pic{
    display: none;
    float:right;
    border:1px solid transparent;
    height: 25px;
    margin-top: 6px;
    width: 3.2rem;
    margin-right: 10px;
}
.challenge_title {
    color: white;
    padding: 5% 20% 5% 20%;
}
.challenge ul {
    list-style-type: inherit;
    padding-left: 5rem;
    color: #f00;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    font-size: 1.5rem;
    margin-top: 3rem;
}
.team {
    color: white;
    padding: 5% 20% 5% 20%;
}

@media only screen and (max-width: 768px)  {
    html {
        font-size: 8px!important;
    }
    .team {
        color: white;
        padding: 5% 10% 5% 10%;
    }
    .challenge_title {
        color: white;
        padding: 5%;
    }
    .nav-mobile {
        top:40px;
        right: 2px;
        display: none;
    }
    .nav-mobile-pic {
        display: block;
    }
    .news-item p {
        padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important;
    }
    .fill-nav {
        height: 40px;
    }
    .qdrs-nav-menu {
        display: none;
    }
    .navigation-menu {
        height: 40px;
    }
    .qdrs-nav-menu > ul {
        right: 0px;
    }
    .qdrs-nav-menu > ul > li > a{
        padding: 7px 5px;
    }
    .aboutus > a, .sss > a {
        padding: 3px 5px!important;
    }
    .qdrs-nav-menu > ul > li {
        margin: 0px 5px;
    }
    .fill {
        height: 5rem;
    }
    trace-item .white {
        margin: 0.1rem 0.5rem!important;
        padding: 0.1rem 0.5rem!important;
    }
    .energy, .retail {
        padding-top: 6rem!important;
        padding-left: 8rem!important;
    }
    .tobacco, .logistics {
        padding-top: 6rem!important;
        padding-right: 8rem!important;
    }
    .energy .qdrs_solution,
    .retail .qdrs_solution {
        padding: 1rem !important;
    }
    .tobacco .qdrs_solution,
    .logistics .qdrs_solution {
        padding: 1rem !important;
    }
    #dituContent {
        height: 200px!important;
    }
}
/*for navigtinmenu-end*/