
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="keywords" content="人工智能，无人售货柜，人工智能加油站，烟草，启迪睿视，启迪睿视信息技术有限公司">
    <meta name="description" content="启迪睿视将人工智能应用到多个领域，主要包括零售行业、能源行业、物流行业和烟草行业，实现了从人工到智能的跨越">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet"  href="../static/css/about.css">
    <link rel="stylesheet"  href="../static/css/index.css">

    <style>
        body {
            font-family: 黑体,"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu !important;
        }
        .job-title-area {
            width: 100%;
        }
        .job-title {
            padding-left:10%;
            padding-right: 2%;
            text-align: left;
            color: white;
            background-color: #bc2925;
            font-size: 2.0rem;
            line-height: 4rem;
            font-weight: normal;
            display: inline;
            float: left;
        }
        .job-title-indicator {
            margin-left: 0.5rem;
            width: 0.5rem;
            line-height: 4rem;
            font-size: 2.0rem;
            background-color: #bc2925;
            display: inline;
            float: left;
        }
        .submit-resume {
            margin-top: 1.875rem;
            margin-left:1.25rem;
        }
        .submit-border:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

        .submit-border {
            width:7.5rem;
            height: 2.5rem;
            padding-top:0.35rem;
            border:0.1rem solid #bc2925;
            text-align:center;
            font-size: 1.25rem;
            color: #bc2925;
            cursor: pointer;
        }
        .submit-link {
            color: #bc2925!important;
            display: block;
        }
        ul.qdrs_pagination {
            display: inline-block;
            padding: 0;
            margin: auto;
        }
        ul.qdrs_pagination .active {
            background-color: gainsboro;
        }

        ul.qdrs_pagination li {
            display: inline;
        }

        ul.qdrs_pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
        ul.pagination li a:hover:not(.active) {background-color: #ddd;}
        .job-content {
            padding: 0 0% 5% 10%;
            clear: both;
        }
        .job-content h2 {
            text-align: left;
            margin-left:1.25rem;
            font-size: 1.25rem;
        }
        .job-content ol {
            font-size: 1.1rem;
            line-height: 1.875rem;
            letter-spacing: 0.0625rem;
        }
        .job-content p {
            margin-left:1.25rem;
            font-size: 1.1rem;
            text-align: left;
        }
        .notice {
            font-size:1.1rem!important;
            letter-spacing: 0.3rem;
            line-height: 1.6rem;
            margin: auto 20%;
            font-weight: normal;
            text-align: left;
            text-indent: 2rem;
        }
    </style>

    <script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/autoshowmenu.js"></script>

    <!--[if IE]>
    <script>
        (function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})()
    </script>
    <![endif]-->
    <script>
        $(document).ready(function(){
            $('#circleContent').carousel({interval:2000});//每隔5秒自动轮播
        });
    </script>

    <title>启迪睿视信息技术有限公司</title>

</head>

<body>
<div class="navigation-menu">
    <div class="qdrs-nav-brand">
        <a href="/">
            <img src="../static/img/logo.svg">
        </a>
    </div>
    <div class="qdrs-nav-menu" style="float: left;">
        <ul style="list-style-type: none">
            <li><a href="/">首页</a></li>
            <li onmouseover="appear('aboutus')" onmouseout="disappear('aboutus')"><a href="/about">关于睿视</a>
                <ul id="aboutus">
                    <li class="aboutus"><a href="/about#about_us">关于我们</a></li>
                    <li class="aboutus" ><a href="/about#wish">使命愿景</a></li>
                    <li class="aboutus"><a href="/about#brand">品牌内涵</a></li>
                    <li class="aboutus"><a href="/about#team">团队风采</a></li>
                    <li class="aboutus"><a href="/about#trace">睿视之路</a></li>
                </ul>
            </li>
            <li onmouseover="appear('solutions')" onmouseout="disappear('solutions')">
                <a href="/solutions">解决方案</a>
                <ul id="solutions" style="list-style-type:none;">
                    <li class="sss"><a href="/solutions#energy">能源行业</a></li>
                    <li class="sss"><a href="/solutions#tobacco">烟草行业</a></li>
                    <li class="sss"><a href="/solutions#retail">新零售</a></li>
                    <li class="sss"><a href="/solutions#logistics">新物流</a></li>
                </ul>
            </li>
            <li class="active"><a href="/joinus">加入我们</a></li>
            <li><a href="/contactus">联系我们</a></li>
        </ul>
    </div>
    <div class="nav-mobile-pic" >
        <div style="width: 2rem; height: 3px;background-color: #2F3F4F;margin: 5px 0.4rem 0 0.5rem;display: block;"></div>
        <div style="width: 2rem; height: 3px;background-color: #2F3F4F;margin: 2.5px 0.4rem 0 0.5rem;display: block;"></div>
        <div style="width: 2rem; height: 3px;background-color: #2F3F4F;margin: 2.2px 0.4rem 0 0.5rem;display: block;"></div>
    </div>
    <div class="nav-mobile" id="nav-mobile">
        <ul style=";z-index: 20;width: 100%;list-style-type: none;rgba(0,0,0,0.7)">
            <li ><a href="/">首页</a></li>
            <li ><a href="/about">关于睿视</a></li>
            <li ><a href="/solutions">解决方案</a></li>
            <li ><a href="/joinus">加入我们</a></li>
            <li ><a href="/contactus">联系我们</a></li>
        </ul>
    </div>
</div>
<!--导航结束-->
<!-- when position:fixed opened, open this too.
<div>
    <span class="blank" style="height:50px;"></span>
</div>
-->

<div class ="fill-nav"></div>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div id="circleContent" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <picture>
                                <source type="image/webp" srcset="../static/img/banner_join.webp">
                                <img style="width: 100%;" src="../static/img/banner_join.jpg"/>
                            </picture>

                            <!--<div class="carousel-caption"> </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner结束-->

<!--关于我们 -->
<div>
    <div style="padding: 3.125rem 0px;background-image: url(../static/img/bg_about_title.png); background-size: cover;background-position:center;" class="qdrs_title">
        <h1>招聘岗位</h1>
        <h4>Job&nbsp;r<span class="xxian">ecru</span>itment</h4>
        <p class="notice" style="">
            启迪睿视信息技术有限公司，为清华控股启迪新材料集团旗下子公司，研发中心分设于上海、北京、芜湖、伦敦。
            公司专注于人工智能机器视觉技术方案的开发与应用，主要目标市场包括工业智能制造及其它新经济新业态，助力中国制造走向中国创造。
            上海研发坐落于上海张江高科技板块，顶尖研发团队，广阔的成长空间。 期待有能力有激情的你加入，让我们为梦想而战！
        </p>
    </div>
    <div>
        <div class="job-desc">
            <div onmouseover="this.style.backgroundColor='#efefef'" onmouseout="this.style.backgroundColor='white'">
                <div style="padding-top: 4%;">
                    <div class="job-title-area">
                        <h2 class="job-title">高级算法工程师</h2>
                        <h2 class="job-title-indicator">&nbsp;</h2>
                    </div>
                </div>
                <div class="job-content">
                        <h2><u>岗位职责</u></h2>
                        <ol>
                            <li>负责计算机视觉三维方向、双目视觉、目标识别、目标跟踪等相关的技术的研发工作;</li>
                            <li>负责图像模式识别、机器学习等相关算法（如物体识别，相似图像搜索与聚类等）研发;</li>
                            <li>负责软件系统核心功能模块进行调试、测试、文档撰写及新技术调研;</li>
                            <li>针对智能视觉使用场景需求，基于当前人工智能技术，寻求优化方案并改善用户体验;</li>
                            <li>根据智能视觉应用场景得需求，开发并维护人工智能视觉识别技术支撑平台及工具。 </li>
                        </ol>
                        <h2><u>招聘要求</u></h2>
                        <ol>
                            <li>教育背景：全日制大学本科及以上学历，计算机或电子工程专业（机器学习，人工智能，数据挖掘及相关方向）;</li>
                            <li>工作经验：具备丰富的人工智能及视觉识别领域开发工作经验;</li>
                            <li>知识技能：熟练掌握计算机视觉、模式识别、图像处理等领域相关理论和算法，了解人脸识别、目标检测、跟踪和识别，熟悉机器学习（Machine Learning），
                                强化学习（Reinforcement Learning），精通立体视觉，三维重构，SLAM等技术;</li>
                            <li>专业工具：熟悉Matlab，C，OpenCV等软件的应用;</li>
                            <li>素质能力：对业界新技术敏感，喜欢钻研，良好的沟通能力，压力承受能力，具备较强的创新能力。</li>
                        </ol>
                        <h2><u>招聘人数</u></h2>
                        <p>若干</p>
                        <h2><u>工作地点</u></h2>
                        <p>上海</p>
                        <div class="submit-resume">
                            <div class="submit-border">
                                <span class="submit-link" href="#">投递简历</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div>
            <div onmouseover="this.style.backgroundColor='#efefef'" onmouseout="this.style.backgroundColor='white'">
                <div style="padding-top: 4%;">
                    <div class="job-title-area">
                        <h2 class="job-title">高级驱动软件工程师</h2>
                        <h2 class="job-title-indicator">&nbsp;</h2>
                    </div>
                </div>
                <div class="job-content">
                    <div>
                        <h2><u>岗位职责</u></h2>
                        <ol>
                            <li>负责智能视觉产品底层驱动程序，以及软件集成层的设计和开发；</li>
                            <li>负责智能视觉产品软件与算法的集成和测试；</li>
                            <li>负责智能视觉产品客户端软件客户端技术支持；</li>
                            <li>参与项目的需求分析和方案设计，完成相应的设计文档。</li>
                        </ol>
                        <h2><u>招聘要求</u></h2>
                        <ol>
                            <li>教育背景：本科及以上学历，计算机、电子、自动化、通信等相关专业;</li>
                            <li>工作经验：三年级以上驱动软件实际开发经验，熟悉linux内核，驱动开发经验并有相关开发经验;</li>
                            <li>知识技能：熟练掌握C/C++，熟悉devmem工具</li>
                            <li>素质能力：对业界新技术敏感，喜欢钻研，有较强的自我驱动力和快速学习能力，责任心强;对代码有洁癖，遇到问题可以一查到底，善用工具，对工程效率有自己的见解</li>
                        </ol>
                        <h2><u>招聘人数</u></h2>
                        <p>若干</p>
                        <h2><u>工作地点</u></h2>
                        <p>上海</p>
                        <div class="submit-resume">
                            <div class="submit-border">
                                <span class="submit-link" href="#">投递简历</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div onmouseover="this.style.backgroundColor='#efefef'" onmouseout="this.style.backgroundColor='white'">
                <div style="padding-top: 4%;">
                    <div class="job-title-area">
                        <h1 class="job-title">高级应用软件工程师</h1>
                        <h1 class="job-title-indicator">&nbsp;</h1>
                    </div>
                </div>
                <div class="job-content">
                    <div>
                        <h2><u>岗位职责</u></h2>
                        <ol>
                            <li>负责智能视觉产品的***前端架构设计；</li>
                            <li>负责搭建智能视觉平台软件前端框架、性能优化关键技术验证和选型等相关工作；</li>
                            <li>负责与设计师协作实现页面及交互，与后端软件工程师完成前后端功能合并；</li>
                            <li>不断优化代码，应用前沿技术，不断提高页面性能;</li>
                            <li>参与项目的需求分析和方案设计，完成相应的设计文档。</li>
                        </ol>
                        <h2><u>招聘要求</u></h2>
                        <ol>
                            <li>教育背景：本科及以上学历，计算机或相关专业毕业;</li>
                            <li>工作经验：三年及以上应用软件实际开发经验，五年以上C/C+/Java开发经验，技术视野开阔;</li>
                            <li>知识技能：精通 Android／iOS Framework 层及各种特性，熟练各种UI组件并了解其内部原理，有通过源码阅读定位问题的经验，熟悉主流的开源组件以及框架，能处理常见大型项目的问题</li>
                            <li>专业工具：熟悉 ****等技术原理，有前端开发经验者加分</li>
                            <li> 素质能力：对业界新技术敏感，喜欢钻研，有较强的自我驱动力和快速学习能力，责任心强。对代码有洁癖，遇到问题可以一查到底，善用工具，对工程效率有自己的见解</li>
                        </ol>
                        <h2><u>招聘人数</u></h2>
                        <p>若干</p>
                        <h2><u>工作地点</u></h2>
                        <p>上海</p>
                        <div class="submit-resume">
                            <div class="submit-border">
                                <span class="submit-link" href="#">投递简历</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div onmouseover="this.style.backgroundColor='#efefef'" onmouseout="this.style.backgroundColor='white'">
                <div style="padding-top: 4%;">
                    <div class="job-title-area">
                        <h1 class="job-title">技术支持工程师</h1>
                        <h1 class="job-title-indicator">&nbsp;</h1>
                    </div>
                </div>
                <div class="job-content">
                    <div>
                        <h2><u>岗位职责</u></h2>
                        <ol>
                            <li>配合销售与客户沟通，定位客户端应用问题，与研发部门配合解决客户端应用问题；</li>
                            <li>负责产品推广、客户应用指导，提供应用解决方案；</li>
                            <li>负责为客户提供技术支持，配合客户产品开发调试；</li>
                            <li>负责内部销售与客户培训资料整理并进行客户培训;</li>
                        </ol>
                        <h2><u>招聘要求</u></h2>
                        <ol>
                            <li>教育背景：本科及以上 工科电子类、自动化类或机械类专业背景者优先;</li>
                            <li>工作经验：有二年及以上相关工作经验者优先考虑，优秀应届生也可接受;</li>
                            <li>知识技能：对机械设计、电子电路、电子器件有一定专业基础</li>
                            <li>素质能力：对用户有较强的服务意识，性格开朗，沟通能力强</li>
                        </ol>
                        <h2><u>招聘人数</u></h2>
                        <p>若干</p>
                        <h2><u>工作地点</u></h2>
                        <p>上海</p>
                        <div class="submit-resume">
                            <div class="submit-border">
                                <span class="submit-link" href="#">投递简历</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div onmouseover="this.style.backgroundColor='#efefef'" onmouseout="this.style.backgroundColor='white'">
                <div style="padding-top: 4%;">
                    <div class="job-title-area">
                        <h1 class="job-title">财务经理/主管</h1>
                        <h1 class="job-title-indicator">&nbsp;</h1>
                    </div>
                </div>
                <div class="job-content">
                    <div>
                        <h2><u>岗位职责</u></h2>
                        <ol>
                            <li>负责编制公司财务报表，审核公司各项目成本、费用支出，发票与记账凭证，同时进行成本核算、费用管理；</li>
                            <li>完成各项财务结算、会计核算，上报执行情况，为管理层提供分析数据；</li>
                            <li>负责业务往来账务追踪， 结账， 对账， 开票等账务工作；</li>
                            <li>管理会计凭证和报表， 并妥善保存会计档案及相关资料;</li>
                            <li>与财政、税务、银行、工商等部门保持良好关系，做好税务协调工作;</li>
                            <li>负责财务制度的建设及完成上级领导交办的其它事宜。</li>
                        </ol>
                        <h2><u>招聘要求</u></h2>
                        <ol>
                            <li>教育背景：本科及以上学历，财务会计等相关专业;</li>
                            <li>工作经验：5年以上会计工作经验，熟悉企业财务流程及熟练使用财务软件、办公软件，有高新技术产业财务经验优先;</li>
                            <li>知识技能：熟悉国家会计、税务法规和报税流程；熟悉会计准则，企业以及相关的财务法规，政策，纳税申报及其它涉税事项的法规政策;</li>
                            <li>素质能力：认真细致，责任心强，性格开朗，有良好的语言表达及较强的沟通能力。</li>
                        </ol>
                        <h2><u>招聘人数</u></h2>
                        <p>若干</p>
                        <h2><u>工作地点</u></h2>
                        <p>上海</p>
                        <div class="submit-resume">
                            <div class="submit-border">
                                <span class="submit-link" href="#">投递简历</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div onmouseover="this.style.backgroundColor='#efefef'" onmouseout="this.style.backgroundColor='white'">
                <div style="padding-top: 4%;">
                    <div class="job-title-area">
                        <h1 class="job-title">高级驱动软件工程师</h1>
                        <h1 class="job-title-indicator">&nbsp;</h1>
                    </div>
                </div>
                <div class="job-content">
                    <div>
                        <h2><u>岗位职责</u></h2>
                        <ol>
                            <li>负责智能视觉产品底层驱动程序，以及软件集成层的设计和开发；</li>
                            <li>负责智能视觉产品软件与算法的集成和测试；</li>
                            <li>负责智能视觉产品客户端软件客户端技术支持；</li>
                            <li>参与camera选型;</li>
                            <li>参与项目的需求分析和方案设计，完成相应的设计文档。</li>
                        </ol>
                        <h2><u>招聘要求</u></h2>
                        <ol>
                            <li>教育背景：本科及以上学历，计算机、电子、自动化、通信等相关专业;</li>
                            <li>工作经验：三年级以上驱动软件实际开发经验，熟悉linux内核，驱动开发经验并有camera相关开发经验;</li>
                            <li>良好的C++基础，熟悉STL模板库,3年以上VC/C++开发经验;</li>
                            <li>熟悉常用的数据结构和算法，熟悉设计模式</li>
                            <li>精通QT开发软件开发，有QML开发经验优先；</li>
                            <li>素质能力：对业界新技术敏感，喜欢钻研，有较强的自我驱动力和快速学习能力，责任心强。对代码有洁癖，遇到问题可以一查到底，善用工具，对工程效率有自己的见解。</li>
                        </ol>
                        <h2><u>招聘人数</u></h2>
                        <p>若干</p>
                        <h2><u>工作地点</u></h2>
                        <p>上海</p>
                        <div class="submit-resume">
                            <div class="submit-border">
                                <span class="submit-link" href="#">投递简历</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

</div>

<!--分页-->
<div style="margin-top: 50px;text-align: center;">
    <ul class="qdrs_pagination">
        <li><a href="#"><</a></li>
        <li><a href="" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">></a></li>
    </ul>
</div>
<span>
        <svg xmlns="http://www.w3.org/2000/svg">
            <symbol id="oppo-logo-common"viewBox="0 0 415 67">
                <path d="M48.9.3C22.1.3.3 11.2.3 24.5s21.8 24.2 48.6 24.2 48.6-10.8 48.6-24.2S75.8.3 48.9.3zm-4.7 41.4c-17.9 0-32.4-7.8-32.4-17.5S26.3 6.7 44.2 6.7s32.4 7.8 32.4 17.5-14.5 17.5-32.4 17.5zM366.1.3c-26.9 0-48.6 10.8-48.6 24.2s21.8 24.2 48.6 24.2 48.6-10.8 48.6-24.2S392.9.3 366.1.3zm-4.8 41.4c-17.9 0-32.4-7.8-32.4-17.5s14.5-17.5 32.4-17.5 32.4 7.8 32.4 17.5-14.4 17.5-32.4 17.5zM156.1.3c-8.3 0-16.7 1-22.7 2.9v6.6c5.8-2.1 11.9-3.1 18-3 17.9 0 32.3 7.8 32.3 17.5s-14.5 17.5-32.4 17.5c-12.6 0-23.9-3.9-28.9-9.6V1.7h-18v65h18V42c9 4.1 20.5 6.7 33.5 6.7 26.8 0 48.7-10.8 48.7-24.2S182.9.3 156.1.3zM262.6.3c-7.8 0-15.6.9-23.2 2.9v6.6c6-2 12.2-3 18.5-3 17.9 0 32.5 7.8 32.5 17.5S276 41.7 258.1 41.7c-12.6 0-23.7-3.9-28.7-9.6V1.7h-18v65h17.8V42.3c8.7 4.1 20.5 6.6 33.6 6.6 26.8 0 48.5-10.9 48.5-24.3S289.4.3 262.6.3z"/>
            </symbol>
        </svg>
</span>
<div>
    <div style="height: 5rem;background-color: white;padding-top: 2rem">
        <p style="text-align: center;color: black;font-size: 1rem;">
            2018-芜湖启迪睿视信息技术有限公司 版权所有 <a style="text-decoration: none;color: black" href="http://www.miitbeian.gov.cn">皖ICP备18014597号</a>
        </p>

    </div>
</div>
<div class="gotop">
    <a href="#">
        <img src="../static/img/gotop.png" alt="返回顶部" id="gotop" title="返回顶部">
    </a>
</div>
<script>
    var submitresume = document.getElementsByClassName('submit-border');
    for (var i=0; i<submitresume.length; i++) {
        submitresume[i].onclick = function () {
            alert("请将简历发送至邮箱hr@tusvisiontech.com")
        }
    }
</script>
<script>
    $(function () {
        $(function(){
            $(window).scroll(function(){
                if($(window).scrollTop() > 100){
                    $("#gotop").fadeIn(1000);//一秒渐入动画
                }else{
                    $("#gotop").fadeOut(1000);//一秒渐隐动画
                }
            });

            $("#gotop").click(function(){
                $('body,html').animate({scrollTop:0},400);
            });

            $(".sss").click(function(){
                //alert("disappear")
                disappear('solutions');
            });
            $(".aboutus").click(function(){
                //alert("disappear")
                disappear('aboutus');
            });
            $(".nav-mobile-pic").click(function(){
                $(".nav-mobile").toggle();
                var a = $(".nav-mobile-pic").css("border-color");
                if (a != 'rgb(255, 0, 0)') {
                    $(".nav-mobile-pic").css("border", "1px solid red");
                } else {
                    $(".nav-mobile-pic").css("border", "1px solid transparent");
                }
            });
        });
    });
</script>
</body>
</html>



