
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="keywords" content="人工智能，无人售货柜，人工智能加油站，烟草，启迪睿视，启迪睿视信息技术有限公司">
    <meta name="description" content="启迪睿视将人工智能应用到多个领域，主要包括零售行业、能源行业、物流行业和烟草行业，实现了从人工到智能的跨越">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet"  href="../static/css/about.css">
    <link rel="stylesheet"  href="../static/css/index.css">

    <style>
        .job-title-area {
            width: 100%;
        }
        .job-title {
            padding-left:10%;
            padding-right: 2%;
            text-align: left;
            color: white;
            background-color: red;
            font-size: 2.25rem;
            line-height: 4rem;
            font-weight: normal;
            display: inline;
            float: left;
        }
        .job-title-indicator {
            margin-left: 0.5rem;
            width: 0.5rem;
            line-height: 4rem;
            font-size: 2.25rem;
            background-color: red;
            display: inline;
            float: left;
        }
    </style>

    <script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/autoshowmenu.js"></script>

    <!--[if IE]>
    <script>
        (function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})()
    </script>
    <![endif]-->
    <script>
        $(document).ready(function(){
            $('#circleContent').carousel({interval:2000});//每隔5秒自动轮播
        });
    </script>

    <title>启迪睿视信息技术有限公司</title>

</head>

<body>
<div class="navigation-menu">
    <div class="qdrs-nav-brand">
        <a href="/">
            <img src="../static/img/tusvision.jpg">
        </a>
    </div>
    <div class="qdrs-nav-menu" style="float: left;display: inline;">
        <ul style="list-style-type: none">
            <li><a href="/">首页</a></li>
            <li onmouseover="appear('aboutus')" onmouseout="disappear('aboutus')"><a href="/about">关于睿视</a>
                <ul id="aboutus">
                    <li class="aboutus"><a href="/about#about_us">关于我们</a></li>
                    <li class="aboutus" ><a href="/about#wish">使命愿景</a></li>
                    <li class="aboutus"><a href="/about#brand">品牌内涵</a></li>
                    <li class="aboutus"><a href="/about#team">团队风采</a></li>
                    <li class="aboutus"><a href="/about#trace">睿视之路</a></li>
                </ul>
            </li>
            <li onmouseover="appear('solutions')" onmouseout="disappear('solutions')">
                <a href="/solutions">解决方案</a>
                <ul id="solutions" style="list-style-type:none;">
                    <li class="sss"><a href="/solutions#energy">能源行业</a></li>
                    <li class="sss"><a href="/solutions#tobacco">烟草行业</a></li>
                    <li class="sss"><a href="/solutions#retail">零售行业</a></li>
                    <li class="sss"><a href="/solutions#logistics">物流行业</a></li>
                </ul>
            </li>
            <li class="active"><a href="/joinus">加入我们</a></li>
            <li><a href="/contactus">联系我们</a></li>
        </ul>
    </div>
</div>
<!--导航结束-->
<!-- when position:fixed opened, open this too.
<div>
    <span class="blank" style="height:50px;"></span>
</div>
-->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div id="circleContent" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <picture>
                                <source type="image/webp" srcset="../static/img/banner_join.webp">
                                <img style="width: 100%;" src="../static/img/banner_join.jpg"/>
                            </picture>

                            <!--<div class="carousel-caption"> </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner结束-->

<!--关于我们 -->
<div style="font-family: 黑体!important;" >
    <div style="padding: 3.125rem 0px;background-image: url(../static/img/bg_about_title.png); background-size: cover;background-position:center;" class="qdrs_title">
        <h1>招聘岗位</h1>
        <h4>Job&nbsp;r<span class="xxian">ecru</span>itment</h4>
    </div>
    <div>
        <div  onmouseover="this.style.backgroundColor='#efefef'" onmouseout="this.style.backgroundColor='white'">
            <div style="padding-top: 4%;">
                <div class="job-title-area">
                    <h1 class="job-title">产品开发助理</h1>
                    <h1 class="job-title-indicator">&nbsp;</h1>
                </div>
            </div>
            <div style="padding: 0 0% 5% 10%;clear: both;">
                <div>
                    <h2 style="text-align: left;margin-left:1.25rem;font-size: 1.5rem"><u>岗位职责</u></h2>
                    <ol style="font-size: 1.25rem;line-height: 1.875rem;letter-spacing: 0.0625rem">
                        <li>高度集成: 多面扫码，体积测量</li>
                        <li>条码扫描：实时识别贴在包裹前后左右上任一面上的条码数据</li>
                        <li>结合流水线改造，根据条码自动分拣</li>
                        <li>识别速度达到20fps，准确率高达99%</li>
                        <li>同时可识别64条码每帧</li>
                        <li>尺寸测量精度达0.5cm</li>
                        <li>传送带最大尺寸1.5*1.2*0.5m，传送带最高速度2.0米/秒</li>
                        <li>支持在线升级</li>
                    </ol>
                    <div style="margin-top: 1.875rem;margin-left:1.25rem">
                        <div style="width:7.5rem;height: 2.5rem;padding-top:0.375rem;border:0.0625rem solid red;text-align:center;font-size: 1.25rem;color: red">
                            <a style="color: red;display: block;" href="#">投递简历</a>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    <div>
        <div onmouseover="this.style.backgroundColor='#efefef'" onmouseout="this.style.backgroundColor='white'">
            <div style="padding-top: 4%;">
                <div class="job-title-area">
                    <h1 class="job-title">三维建模师</h1>
                    <h1 class="job-title-indicator">&nbsp;</h1>
                </div>
            </div>
            <div style="padding: 0 0% 5% 10%;clear: both;">
                <div>
                    <h2 style="text-align: left;margin-left:1.25rem;font-size: 1.5rem"><u>岗位职责</u></h2>
                    <ol style="font-size: 1.25rem;line-height: 1.875rem;letter-spacing: 0.0625rem">
                        <li>高度集成: 多面扫码，体积测量</li>
                        <li>条码扫描：实时识别贴在包裹前后左右上任一面上的条码数据</li>
                        <li>结合流水线改造，根据条码自动分拣</li>
                        <li>识别速度达到20fps，准确率高达99%</li>
                        <li>同时可识别64条码每帧</li>
                        <li>尺寸测量精度达0.5cm</li>
                        <li>传送带最大尺寸1.5*1.2*0.5m，传送带最高速度2.0米/秒</li>
                        <li>支持在线升级</li>
                    </ol>
                    <div style="margin-top: 1.875rem;margin-left:1.25rem">
                        <div style="width:7.5rem;height: 2.5rem;padding-top:0.375rem;border:0.0625rem solid red;text-align:center;font-size: 1.25rem;color: red">
                            <a style="color: red;display: block;" href="#">投递简历</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<div style="height: 200px; width: 100%;"></div>
<div class="gotop">
    <a href="#">
        <img src="../static/img/gotop.png" alt="返回顶部" id="gotop" title="返回顶部">
    </a>
</div>
<script>
    $(function () {
        $(function(){
            $(window).scroll(function(){
                if($(window).scrollTop() > 100){
                    $("#gotop").fadeIn(1000);//一秒渐入动画
                }else{
                    $("#gotop").fadeOut(1000);//一秒渐隐动画
                }
            });

            $("#gotop").click(function(){
                $('body,html').animate({scrollTop:0},400);
            });

            $(".sss").click(function(){
                //alert("disappear")
                disappear('solutions');
            });
            $(".aboutus").click(function(){
                //alert("disappear")
                disappear('aboutus');
            });
        });
    });
</script>
</body>
</html>



